.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  margin: 0;
  font-family: $fontFamily;
  color: $textColorMain;
  background-color: $layoutPrimaryBg;

  &__content {
    margin-top: $layoutCommonPadding;
    flex-grow: 1;
  }
}
