.button {
  border: 1px solid transparent;
  height: $controlHeight;
  padding: calc(($controlHeight - $iconSize - 2) / 2) calc(($controlHeight - $iconSize - 2) * 2);
  border-radius: $layoutBorderRadius;
  line-height: $iconSize;
  text-decoration: none;
  cursor: pointer;

  &_style_raw {
    background-color: transparent;
  }

  &_style_primary {
    @mixin control-style $buttonPrimaryColor, $buttonPrimaryBg;
    @mixin button-icon-style $buttonPrimaryColor;
  }

  &_style_secondary {
    @mixin control-style $buttonSecondaryColor, $buttonPrimaryBg;
    @mixin button-icon-style $buttonSecondaryColor, $buttonSecondaryBg;
  }

  &__icon&__icon {
    position: relative;
    top: -2px;
    width: 16px;
    height: 16px;
  }

  &__icon_prefix {
    margin-right: calc($controlHeight - $iconSize - 2);
  }

  &__icon_suffix {
    margin-left: calc($controlHeight - $iconSize - 2);
  }
}
