.mark-text {
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 600;

  &_a {
    color: $indicatorRateA;
  }

  &_b {
    color: $indicatorRateB;
  }

  &_c {
    color: $indicatorRateC;
  }

  &_d {
    color: $indicatorRateD;
  }

  &_e {
    color: $indicatorRateE;
  }
}
