.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc($layoutFactor * 2px);
  padding-top: calc($layoutFactor * 1px);
  padding-bottom: calc($layoutFactor * 1px);
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 24px;
  background-color: $themePrimary;
  color: #fff;
}
