.data-block {
  margin-bottom: calc($layoutCommonPadding * 2);

  &__header {
    margin: 0 0 $layoutCommonPadding;
    font-size: 18px;
    color: $textColorMuted;
    text-align: left;
    font-weight: normal;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    margin-bottom: calc($layoutCommonPadding / 2);
  }
}
