.panel {
  background-color: $layoutSecondaryBg;
  border: 1px solid $layoutBorder;
  border-radius: $layoutBorderRadius;
  padding: calc($layoutCommonPadding * 1.5);

  @media (--tablet) {
    padding: $layoutCommonPadding;
  }
}
