.gem-statistic {
  display: flex;

  &__sidebar&__sidebar {
    width: 120px;
    text-align: center;
    padding-right: calc($layoutCommonPadding * 1.5);
  }

  &__content {
    position: relative;
    flex-grow: 1;
    border-left: 1px dashed $layoutBorder;
    padding: 0 calc($layoutCommonPadding * 1.5);
  }

  &__view-toogler-container {
    display: flex;
    justify-content: center;
    margin-bottom: $layoutCommonPadding;
  }
}
