.tabs {
  margin: 0 0 $layoutCommonPadding;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $layoutBorder;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  &__item {
    position: relative;
    display: block;
    border: 1px solid $layoutBorder;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -1px;
    margin-bottom: -1px;

    &:first-child {
      margin-left: 5px;
    }

    &:last-child {
      margin-right: 5px;
    }
  }

  &__item_active {
    border-bottom-color: #fff;
    z-index: 1;
  }

  &__item_active > &__link {
    padding-top: calc($layoutCommonPadding / 2 + 3px);
    padding-bottom: calc($layoutCommonPadding / 2 + 3px);
    color: $textColorSecondary;
    cursor: default;
    pointer-events: none;
  }

  &__link {
    display: block;
    padding: calc($layoutCommonPadding / 2) $layoutCommonPadding;
    font-size: 15px;
    text-decoration: none;

    &:hover {
      padding-bottom: calc($layoutCommonPadding / 2 + 3px);
    }
  }
}
