.rate {
  font-weight: bold;
}

.rate_a {
  color: $indicatorRateA;
}

.rate_b {
  color: $indicatorRateB;
}

.rate_c {
  color: $indicatorRateC;
}

.rate_d {
  color: $indicatorRateD;
}

.rate_e {
  color: $indicatorRateE;
}
