@define-mixin control-style $color, $bgColor  {
  border-color: $color;
  background-color: $bgColor;
  color: $color;

  &:hover {
    border-color: color($color lightness(+12%));
    background-color: color($bgColor lightness(+12%));
    color: color($color lightness(+12%));
  }

  &:focus {
    border-color: color($color lightness(-5%));
    background-color: $bgColor;
    color: color($color lightness(-5%));
    outline: none;
  }

  &:active {
    border-color: color($color lightness(-15%));
    background-color: $bgColor;
    color: color($color lightness(-15%));
  }
}
