.toggler {
  &__item_active,
  &__item_active:hover,
  &__item_active:focus,
  &__item_active:active {
    border-color: $buttonPrimaryColor;
    cursor: default;
    z-index: 1;

    > .toggler__item-icon {
      fill: $buttonPrimaryColor;
    }
  }
}
