.width-container {
  max-width: 100%;
  width: calc($layoutGridColumn * 12px + $layoutGridGutter * 12px);
  margin-left: auto;
  margin-right: auto;
  padding-left: calc($layoutFactor / 2px);
  padding-right: calc($layoutFactor / 2px);

  @media (--desktop) {
    width: calc($layoutGridColumn * 9px + $layoutGridGutter * 9px);
  }

  @media (--tablet) {
    padding-left: calc($layoutFactor * 2px);
    padding-right: calc($layoutFactor * 2px);
  }
}
