.width-container {
  width: 100%;
  max-width: $layoutMaxWidth;
  margin-left: auto;
  margin-right: auto;

  @media (--desktop) {
    width: auto;
    margin-left: $layoutFactor;
    margin-right: $layoutFactor;
  }
}
